.itemsGrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    row-gap: 12px;
}

.list {
    list-style: none;
}

.itemCard {
    min-height: 320px;
    min-width: 420px;
}